.navbar{
    justify-content: space-between;
}
span{
    padding-right: 1em;
}

mat-sidenav-container{
    height: 50.8em;
}
mat-sidenav, mat-sidenav-content {
    padding: 16px;
}
mat-sidenav {
    background-color: lightcoral;
    width :200px;
}
mat-divider{
    margin-bottom: 2em !important;
}